ul {
  padding: 0;
  margin: 0;

  list-style: none;
}

.container {
  min-width: $width-xs-device - 30px;
  max-width: $width-lg-device;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  box-sizing: border-box;
}


@media (min-width: $width-lg-device + 30px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}


.no-js .main-menu__list {
  display: flex;
}
