           /*font-family*/
$primary-font-family: "Arial", sans-serif;

           /*color*/
$primary-color: #dc641c;
$primary-bg-color: #f8f8f8;
$primary-bg-color-last-paid: #ededed;
$primary-bg-color-header: #909090;
$primary-subtitle-color: #5fa1ba;
$primary-text-color: #7c7c7c;

           /*device width*/
$width-xs-device: 320px;
$width-sm-device: 768px;
$width-md-device: 992px;
$width-lg-device: 1200px;
