.answers__subtitle {
  font-family: $primary-font-family;
  font-weight: 400;
  font-size: 25px;
  color: #5fa1ba;
}

.answers__text {
  margin-bottom: 40px;
  font-family: $primary-font-family;
  font-weight: 400;
  font-style: italic;
  font-size: 18px;
  color: $primary-text-color;

  &--btn {
    font-family: $primary-font-family;
    font-weight: 400;
    font-style: italic;
    font-size: 23px;
    color: #000000;
  }
}

.answers__link {
  font-family: $primary-font-family;
  font-weight: 400;
  font-style: italic;
  font-size: 18px;
  color: $primary-color;
}

.answers__wrapper {
  display: block;
  width: auto;
  margin: 0 auto;
  text-align: center;
}

.answers__btn {
  margin-top: 20px;
}
