.last-paid {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  background-color: $primary-bg-color-last-paid;
}

.last-paid__link {
  z-index: 2;
  position: absolute;
  height: 100%;
  box-sizing: border-box;
  top: 0px;
  background-color: $primary-color;
  text-decoration: none;
  font-family: $primary-font-family;
  color: #ffffff;
  font-size: 18px;
  padding: 15px 20px;
  box-shadow: 1px 0 1px #000000;

  @include hover-effects;
}

.last-paid__list {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 15px 0;
  overflow: hidden;
}

.last-paid__item {
  z-index: 1;
  margin-right: 20px;
  font-family: $primary-font-family;
  font-size: 18px;
  color: #808080;
  animation-name: last-paid-anim;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  &:last-child {
    margin-right: 0;
  }
}

.last-paid__price {
  color: $primary-color;
}

@keyframes last-paid-anim {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(100%);
  }
  0% {
    transform: translateX(0);
  }
}
