.logo {
  display: block;
  margin-left: 30px;
  height: auto;

  font-family: $primary-font-family;
  font-size: 27px;
  text-transform: uppercase;
  text-decoration: none;
  color: $primary-color;
  font-family: "Arial", sans-serif;

  @include hover-effects;

  &--footer {
    width: 180px;
    margin-bottom: 20px;
    font-size: 20px;
    color: $primary-text-color;
  }
}
