.main-menu {
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

.main-menu__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-menu__item {
  padding: 20px 20px;

  @include hover-effects;
  cursor: pointer;

  &--active {
    border-bottom: 3px solid $primary-color;
  }
}

.main-menu__link {
  font-family: $primary-font-family;
  color: #e9e9e9;
  font-size: 18px;
  text-decoration: none;
}
