.social-icons {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 180px;
  margin-left: 13px;
}

.social-icon {
  font-size: 0;
  @include hover-effects;

  &--tw {
    @include set-icon(url("../img/icons/004-twitter.svg"), 25px, 25px);
    top: -5px;
    left: 30px;
  }
  &--fb {
    @include set-icon(url("../img/icons/003-facebook.svg"), 25px, 25px);
    top: -5px;
    left: 70px;
  }
  &--in {
    @include set-icon(url("../img/icons/002-instagram.svg"), 25px, 25px);
    top: -5px;
    left: 115px;
  }
  &--wb {
    @include set-icon(url("../img/icons/001-earth.svg"), 25px, 25px);
    top: -5px;
    left: 155px;
    border-radius: 50%;
  }
}
